@use "../../styles/partials/globals" as *;
.bg-image6{
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    opacity:20%;
    background-image: url("../../assets/abstract2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    z-index: -1;
}
.about{
    // background-color: #af49c4;  //this is not setting
    width:100%; 
    &__title{
        margin-left:1rem;
        @extend %f-body-small;
        font-weight: 800;
        color: #370342c9;
        padding: 1rem;
        @include tablet{
            margin-left:4rem;
            padding-bottom: 2rem;
            padding-top: 2rem;
        }
        @include desktop{
            margin-top: 2rem;
            margin-left: 11rem;
            // @extend %f-body-large;
        }
    }
&__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

&__img-container{
    padding-left: 3rem;
    @include tablet{
        padding-left: 5rem;
    }
    @include desktop{
        width:80%;
        padding-left: 6rem;
    }
}
&__img{
    width:80%;
    border-radius: 8px;
    // margin:1rem;
    @include desktop{
       margin-top: 2rem;
    //    height:50%;
    }
}
&__para-container{
    @extend %f-about-details;
    padding-top: 1rem;
    width:80%;
    // color:$c-slate;
    color:black;
    
}
&__para-p1{
    color: #370342c9;
    padding-bottom:1rem;
    padding-top: 1rem;
    font-weight: 600;

}
&__list{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
}