@forward "typography";
@forward "functions";
@forward "variables";
// @forward "mixins";
@forward "breakpoints";

// || RESETS

*, *::before, *::after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
	height: 100%;
}
body {
	container-type: inline-size;
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}


nav {
    position: relative;
}

.my-appointments {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden; 
}
