@tailwind base;
@tailwind components;
@tailwind utilities;

.active hr{
    @apply block;
}

::-webkit-scrollbar{
    @apply hidden;
}

.bg-main{ 
 /* opacity: 1; */
    background-color: rgb(5, 3, 105);
}
.bg-purple{
    background-color: rgb(123, 74, 213);
}
.bg-green{
    background-color: #bb53a4;
}

/* fixed  top-0 left-0 right-0 */